.jumbotron {
  width: 100%;
  height: 700px;
  background: radial-gradient(#3ea8e4, #a8b5cd);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 10px 0;
  position: relative;
}

.textContainer {
  padding: 30px 20px;
  margin-top: 100px;
  margin-bottom: 200px;
  width: 20rem;
  max-width: 100%;
  background-color: #ffffff2e;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  transition: height 2s;
  box-shadow: 0 10px 50px -2px rgba(0, 0, 0, 0.14);
  z-index: 10;
  /* z-index: 1; */
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slogan {
  font-size: 32px;
  font-weight: 400;
  text-align: left;
  text-transform: capitalize;
  font-family: 'DM Sans', sans-serif;
  animation: 1s fadeInUp;
  margin-bottom: 20px;
  /* max-width: 90%; */
}

.slogan2 {
  font-size: 16px;
  text-align: left;
  margin-bottom: 30px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5;
}

.browseLink {
  /* padding: 10px 20px; */
  font-size: 14px;
  font-weight: 600;
  border: none;
  text-decoration: underline;
  color: white;
}

/* tablet */
@media (min-width: 700px) {
  .textContainer {
    width: 40rem;
    display: flex;
    flex-direction: row;
    transform: none;
    flex-wrap: wrap;
    z-index: 1;
  }

  .slogan,
  .slogan2 {
    margin-bottom: 10px;
    text-align: left;
  }
}

.jumbo-gif {
  position: absolute;
  /* right: -230px; */
  bottom: -160px;
  right: -10px;
  clip-path: inset(5% 10% 15% 10% round 5% 20% 0 10%);
  width: 200px;
  height: 200px;
}

@media (min-width: 768px) {
  .jumbo-gif {
    right: -250px;
    top: 10px;
    width: 325px;
    height: 325px;
  }

  .slogan {
    font-size: 36px;
  }

  .slogan2 {
    font-size: 18px;
    max-width: 80%;
  }
}

@media (min-width: 1125px) {
  .jumbotron {
    padding: 0px 10%;
    justify-content: flex-start;
    height: 75vh;
  }

  .textContainer {
    position: relative;
    margin-top: 176px;
  }
}
